In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('runs.csv')
df = df[['Date', 'Distance', 'Time', 'AveragePace', 'Notes']]
# df.to_csv('runs2.csv')
df['RunGoal'] = 'Madison Marathon 11-9-2025'
df.to_csv('runs3.csv', index=False)

In [15]:
import pandas as pd
pd.read_csv('runs3.csv').to_json('runs.json', orient='records')

In [2]:
# For Ultramarathon 50 km data analysis
df =pd.read_csv('ultra50kmRuns.csv')
df.to_json('ultra50km.json', orient='records')
df

,Date,Distance,TotalTime,MovingTime,AveragePace,AverageMovingPace,ElevationGain,ElevationDescent,TerrainType,RunType,AvgHeartRate,MaxHeartRate,CaloriesBurnt,EstimatedSweatLoss,Felt,LegFatigue,Notes
0,2025-12-22,1.02,00:10:02,00:09:52,9:53,9:42,16,13,Road,Easy,137,152,124,166,4,1,First run of my training for my first 50km rac...
1,2026-01-05,2.15,00:21:30,00:20:55,9:59,9:43,0,0,Road,Easy,135,177,225,352,2,2,Tried to run for 30 minutes but only did 22 be...
2,2026-01-07,1.77,00:16:54,00:16:31,9:33,9:20,16,13,Road,Easy,159,181,230,230,4,1,Ran to a restaurant where I hung out with Pric...

In [9]:
df.iloc[0].to_list()

['9:53',
 '9:42',
 np.int64(16),
 np.int64(13),
 'Road',
 'Easy',
 np.int64(137),
 np.int64(152),
 np.int64(124),
 np.int64(166),
 np.int64(4),
 np.int64(1),
 'First run of my training for my first 50km race. Very excited for the training that is ahead as I become the best mental and physical version of myself. ']

In [8]:
df.columns.to_list()

['Date',
 'Distance',
 'Time',
 'AveragePace',
 'ElevationGain',
 'TerrainType',
 'RunType',
 'AvgHeartRate',
 'MaxHeartRate',
 'Calories',
 'Felt',
 'LegFatigue',
 'Notes']

In [11]:
df.index.to_list()

[('2025-12-22', 1.02, '00:10:02', '00:09:52')]